@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Raleway:wght@300;400;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Raleway", sans-serif;
  background-color: #111;
  color: white;
  margin: 5%;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  h1 {
    font-family: "Oswald", sans-serif;
    font-size: 140px;
  }

  h5 {
    font-size: 20px;
    padding-bottom: 10px;
  }
}

.search-wrapper {
  display: flex;
  justify-content: center;

  #search {
    width: 70%;
    max-width: 700px;
    height: 30px;
    border-radius: 25px;
    border: 1px solid #333;
    text-align: center;
  }

  form {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
  }

  button {
    border: none;
    background: transparent;
    font-size: 20px;
    margin-left: -30px;
    align-items: center;
  }
}

.show-container {
  display: flex;
  margin-top: 30px;
  margin-top: 50px;
  justify-content: center;
}

.show-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 25px;
  padding: 12px;
}

// ------------------------------------HELPER CLASS----------------------------------------

.hidden {
  display: none;
}

.searchResult {
  padding: 20px 20px 0 20px;
}

.show-div {
  position: relative;
  margin: 10px;
  border: 3px solid black;
  background-color: white;
  color: #333;

  h5 {
    font-size: 14px;
    margin-top: 5px;
  }

  &:hover {
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
    transition: 599ms ease;
  }
}

.rating {
  position: absolute;
  font-weight: bold;
  right: 0;
  top: 0;
  background-color: gold;
  padding: 5px;
  color: #333;
  border: 2px solid #333;
}
